name: Clean Backend

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      # Checkout du repo
      - name: Checkout
        uses: actions/checkout@v4

      # Installer Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # Initialiser Terraform et détruire le backend
      - name: Destroy Backend
        run: |
          cd terraform/bootstrap
          terraform init
          terraform destroy -auto-approve

      - name: Delete artifacts
        uses: peter-evans/delete-artifact@v2
        with:
          name: s3-bucket
        # run: |
          # echo "Suppression manuelle recommandée : aller dans l’onglet Actions > Artifacts > Supprimer 's3-bucket'"